<!-- start contact -->
<section id="contact">
    <div class="container">
        <div class="row">
            <h3 class="text-center wow fadeInDown" data-wow-delay="2000">联系我们</h3>
            <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
                <p>您好，如有任何问题请联系我们，欢迎提交任何关于我们的问题和建议，我们将尽快回复您。感谢您对我们的帮助。我们7*24小时竭诚为您服务​</p>
            </div>
            <div class="col-md-4 col-xs-12 text-center">
                <!--<div class="media wow flipInX">
                    <div class="media-left">
                        <i class="glyphicon glyphicon-phone-alt"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">联系电话</h4>
                        <p>12345678901</p>
                    </div>
                </div>-->
                电话：010-5676666
            </div>
            <div class="col-md-4 col-xs-12 text-center">
                手机：13823450987
            </div>
            <div class="col-md-4 col-xs-12 text-center">
                邮箱：weiyu@weiyu.com
            </div>
        </div>
    </div>
</section>
<!-- end contact -->