<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="keywords" content="微羽科技,小程序制作,小程序,WeChat">
    <meta name="description" content="微羽科技小程序制作">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body data-spy="scroll" data-target=".navbar-collapse">
<div id="loading">
    <div class="cssload-coffee"></div>
</div>
<%= require('@/components/nav/nav.ejs')() %>
<%= require('@/components/home/home.ejs')() %>

</body>

</html>
